body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    height: 5vh;
    background-color: #bb0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#navbar-left a {
    font-weight: bold;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.2rem;
}


#navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: bold;
  border-radius: 15px;
  border: none;
  opacity: 0.8;
  padding: 3px 10px;
  font-size: 16px;
  background-color: #d32f2f;
  color: white;
}

#button_conf {
  font-weight: bold;
  border-radius: 15px;
  border: none;
  opacity: 0.8;
  padding: 3px 10px;
  font-size: 16px;
  background-color: #d32f2f;
  color: white;
}

#insert_code {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

#info_table {
    margin: auto;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid gray;
    border-width: 1px;
    padding: 20px;
    margin-top: 30px;
}



.keys ,
.vals {
    padding: 10px;
}

#IDidr_input {
    border-radius: 15px;
    text-indent: 10px;
    height: 20px;
}

#page_content{
    margin: 1%;
}

.keys{
    font-weight: bold;
}