#insert_code {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

#info_table {
    margin: auto;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid gray;
    border-width: 1px;
    padding: 20px;
    margin-top: 30px;
}



.keys,
.vals {
    padding: 10px;
}

#IDidr_input {
    border-radius: 15px;
    text-indent: 10px;
    height: 20px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#page_content {
    margin: 1%;
}

.keys {
    font-weight: bold;
}

#actionBtn{
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    background-color: #ff0000;
    color: white;
    border: none;
    font-style: none;
}

.btn-primary:disabled {
    background-color: #999999;
    color: #eeeeee;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
}