body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar */
#navbar {
    height: 5vh;
    background-color: #bb0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#navbar-left {
    font-weight: bold;
    color: #f0f0f0;
    font-size: 1.2rem;
}

#navbar-left a {
    position: relative;
    text-decoration: none;
    color: #f0f0f0;
}

#navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

button, .btn {
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 16px;
    margin: 0 4px;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary {
    background-color: #ff0000;
    color: white;
    border: none;
}

.btn-primary:disabled {
    background-color: #999999;
    color: #eeeeee;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
}

.btn-secondary {
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #cccccc;
}

.btn-secondary:disabled {
    background-color: #f9f9f9;
    color: #aaaaaa;
    border-color: #dddddd;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
}