body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#navbar {
    height: 5vh;
    background-color: #bb0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#navbar-left a {
    font-weight: bold;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.2rem;
}

#navbar-left a:hover {
    text-decoration: underline;
}

#page_content {
    margin: 1%;
}

.ins_table {
    margin: auto;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid gray;
    border-width: 1px;
    padding: 20px;
    margin-top: 30px;
}

#tables {
    display: flex;
    width: 1500px;
    margin: auto;
}

#mappa {
    height: 70vh;
    width: 90vh;
    position: relative;
}

.keys,
.vals {
    padding: 10px;
}

.keys {
    font-weight: bold;
}

button {
    font-weight: bold;
    border-radius: 15px;
    border: none;
    opacity: 0.8;
    padding: 3px 10px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
}

#x {
    color: #ff0000;
    background-color: white;
    border: none;
    font: bold;
    font-weight: 15px;
}